<nav class="navbar navbar-expand-lg "  style="background-color: #FBFCFC;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Final Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Prices</a>
        </li>
      </ul>
      <div class="d-flex gap-2">
        <button *ngIf="!logged" class="btn btn-primary" (click)="isAuthenticated(true)">Go To Your Panos</button>
        <button *ngIf="logged" class="btn btn-primary" (click)="isAuthenticated(false)">Register</button>
        <button *ngIf="logged" class="btn btn-outline-primary" (click)="isAuthenticated(false)">Login</button>
      </div>
    </div>
  </div>
</nav>
